/* CONTAINERS */
.container-1200{
  display: block;
  max-width: 1200px;
  width: 100%;
  margin:0 auto;
}
.container-1300{
  display: block;
  max-width: 1300px;
  width: 100%;
  margin:0 auto;
}
.container-1400{
  display: block;
  max-width: 1400px;
  width: 100%;
  margin:0 auto;
}

/* BOTÕES */

.btn-genrico-cor-1 {
  font-family: 'rubik-bold';
  font-size: 1.125em;
  color: var(--cor-15);
  text-transform: uppercase;
  text-align: center;
  background: var(--cor-1);
  border-radius: 5px;
  padding: 15px 30px;
}
.btn-click-cor-1 {
  font-family: 'rubik-bold';
  font-size: 1.125em;
  color: var(--cor-15);
  text-transform: uppercase;
  text-align: center;
  background: var(--cor-1);
  border-radius: 5px;
  padding: 15px 30px;
  transition: 0.3s;  
}
.btn-click-cor-1:hover{
  transform: translate(0, -5px);
  box-shadow: 0 5px 0px 0px var(--cor-0);
}

.btn-genrico-cor-primaria {
  font-family: 'rubik-bold';
  font-size: 1.125em;
  color: var(--cor-15);
  text-transform: uppercase;
  text-align: center;
  background: var(--cor-primaria);
  border-radius: 5px;
  padding: 15px 30px;
}

.btn-genrico-cor-enfase {
  font-family: 'rubik-bold';
  font-size: 1.125em;
  color: var(--cor-enfase-dark);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(135deg, var(--cor-enfase)50%, var(--cor-enfase-escurecida) 50% 70%,var(--cor-enfase) 70% 100%);
  border-radius: 5px;
  padding: 15px 30px;
  transition: 1s;
}
.btn-genrico-cor-enfase:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 24px -12px var(--cor-enfase), 0 22px 15px -24px var(--cor-15);
}


/* LINKS */
.link{
  color: inherit;
  font-family: 'montserrat';
  font-size: 0.875em;
  margin: 10px auto;
  font-weight: 700;
  text-decoration: underline;
}
.page-link{
  font-family: 'rubik';
  font-weight: 600;
  font-size: 1.5em;
  padding: 8px 16px;
  border-radius: 100px;
  display: inline-flex;
  gap: 10px;
  background-color: var(--cor-2);
  color: var(--cor-15);
}
