@font-face{
    font-family: 'montserrat';
    src: url(../../fontes/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'montserrat-bold';
    src: url(../../fontes/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face{
    font-family: 'rubik';
    src: url(../../fontes/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'rubik-bold';
    src: url(../../fontes/Rubik/static/Rubik-Bold.ttf);
}

/* MONTSERRAT */

.font-1-xxl {
    color: var(--cor-15);
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.4;
}

.font-1-xl {
    color: var(--cor-15);
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.4;
}
.font-1-lm {
    color: var(--cor-15);
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2.75em;
    line-height: 1.3;
}
.font-1-l {
    color: var(--cor-15);
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.4;
}

.font-1-xm {
    color: var(--cor-15);
    font-family: 'montserrat-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.4;
}

.font-1-m {
    color: var(--cor-15);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.4;
}

.font-1-s {
    color: var(--cor-15);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.4;
}

.font-1-xs {
    color: var(--cor-15);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
}

.font-1-xxs {
    color: var(--cor-15);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.4;
}

/* ============================================================================================== */

/* RUBIK */

.font-2-xxl {
    color: var(--cor-15);
    font-family: 'rubik-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.4;
}

.font-2-xl {
    color: var(--cor-15);
    font-family: 'rubik-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.4;
}

.font-2-l {
    color: var(--cor-15);
    font-family: 'rubik-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.4;
}

.font-2-xm {
    color: var(--cor-15);
    font-family: 'rubik-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 1.4;
}

.font-2-m {
    color: var(--cor-15);
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.4;
}

.font-2-s {
    color: var(--cor-15);
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.4;
}

.font-2-xs {
    color: var(--cor-15);
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
}

.font-2-xxs {
    color: var(--cor-15);
    font-family: 'rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.4;
}

/* POSICIONAMENTOS */

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

/* PESOS */
.bold{
    font-weight:700;
}
.normal{
    font-weight: 400;
}
@media screen and (min-width:768px) and (max-width: 1580px) {
    .font{
        
    }
    
}
@media (min-width: 320px) and (max-width: 767px) {
    .font-1-xxl{
        font-size:2.5em
    }
    .font-1-xl{
        font-size:2em
    }
    .font-1-m{
        font-size:1.35em
    }
}