@import url(utilitarios/cores.css);
@import url(utilitarios/tipografia.css);
@import url(utilitarios/reset.css);
@import url(utilitarios/componentes.css);
@import url(utilitarios/responsivo.css);

@import url(partes/header.css);
@import url(partes/orcamento.css);
@import url(partes/brandindEUberFlash.css);
@import url(partes/nossaEquipe.css);

#footer{
  background-color: var(--cor-2);
  padding: 80px 0 0 0;
}

#grid-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 40px;
  margin: 20px auto;
  padding: 30px 0 50px 0;
}
#horario-de-funcionamento-grid{
  width: 100%;
}
#cronograma-grid{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
#cronograma-grid div{
  display: flex;
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid var(--cor-7);
  justify-content: space-between;
  align-items: center;
}
#links p{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

#grid-footer + p{
  margin: 50px 0;
}
#footer p{
  color: var(--cor-10);
}
#footer > p{
  background-color: var(--cor-0);
  padding: 20px 0;
}



