#garantia{
  background-color: var(--cor-enfase);
  padding: 50px;
}
#garantia .grid *{color: var(--cor-3);}

#experiencia{
  background-color: var(--cor-primaria-escurecida);
  padding: 50px;
}
#experiencia .grid *{color: var(--cor-15);}
#confianca{
  background-color: var(--cor-5);
  padding: 50px;
}
#confianca .grid *{color: var(--cor-15);}
.grid{
  display: grid;
  grid-template-areas: 'esquerdo direito';
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.grid *{
  text-align:center;
}
.grid h4{
  width: max-content;
}
.grid .textos{
  width: min-content;
}
.esquerdo{
  grid-area: esquerdo;
}
.direito{
  grid-area: direito;
}

#confianca .grid{
  padding: 0;
  gap: 100px;
}

#uber-flash{
  padding: 80px 0;
  background-color: var(--cor-2);
  display: grid;
  justify-items: center;
}