#header {
  background-color: var(--cor-1);
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  box-shadow: inset 0px -105px 0px var(--cor-2);
}
#header * {
  z-index: 1;
}
#menu-hamburger-gatilho {
  display: none;
}
#header #triangulo-direito {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 550px;
}
#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
#logo {
  display: inline-block;
}
#logo span {
  color: var(--cor-primaria);
}
#header-nav ul {
  display: flex;
  gap: 5px;
}
#header-nav ul li {
  display: inline-block;
}
#header-nav #menu-principal li a {
  margin: 0 10px;
}
#menu-login a {
  margin: 0 15px;
  font-weight: 700;
}
#grid-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
}
#grid-header #textos {
  flex-wrap: wrap;
}
#grid-header #textos h1 {
  width: 50ch;
  display: inline;
  position: relative;
}
#grid-header #textos h1::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 50px;
  width: 5px;
  border-radius: 5px;
  background-color: var(--cor-primaria);
  display: block;
}
#grid-header #textos p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: nowrap;
}

#header #painel {
  display: block;
  margin-top: 50px;
  padding: 20px 50px;
  background-color: var(--cor-3);
}
#header #painel ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#header #painel ul li {
  text-align: left;
  border-bottom: 2px solid var(--cor-6);
  padding: 12px 0px;
}
#header #painel ul li img {
  margin: 0 10px;
}
#header #painel ul li:nth-child(odd) {
  text-align: right;
  border-right: 2px solid var(--cor-6);
}
#header #painel ul li:nth-child(7) {
  text-align: right;
  border-bottom: none;
}
#header #painel ul li:last-child {
  border-bottom: none;
}

@media (min-width: 767px) and (max-width: 1024px) {
  #header #menu-hamburger-gatilho {
    display: none;
  }
  #header-nav #menu-principal li {
    font-family: "rubik-bold";
    font-size: 1.125em;
    color: var(--cor-15);
    text-transform: uppercase;
    text-align: center;
    background: var(--cor-1);
    border-radius: 5px;
    margin: 15px;
    padding: 15px 30px;
  }
  #hamburger-btn {
    backdrop-filter: blur(5px);
    background-color: var(--cor-1);
    width: 60px;
    border-radius: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.7s;
  }
  #hamburger-btn span {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    position: relative;
    background-color: var(--cor-15);
    transition: 0.5s;
  }
  #hamburger-btn span::before,
  #hamburger-btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
  }
  #hamburger-btn span::before {
    top: -10px;
    transition: 0.5s;
  }
  #hamburger-btn span::after {
    bottom: -10px;
    transition: 0.5s;
  }
  #header #menu-hamburger-gatilho:checked ~ #header-nav #hamburger-btn span {
    background-color: var(--cor-1);
  }
  #header
    #menu-hamburger-gatilho:checked
    ~ #header-nav
    #hamburger-btn
    span::before {
    transform: rotate(45deg);
    background-color: var(--cor-primaria);
    top: initial;
  }
  #header
    #menu-hamburger-gatilho:checked
    ~ #header-nav
    #hamburger-btn
    span::after {
    transform: rotate(-45deg);
    background-color: var(--cor-primaria);
    bottom: initial;
  }
  #header #menu-hamburger-gatilho:checked ~ #header-nav #hamburger-btn {
    box-shadow: 0 0 0 120vh var(--cor-4);
    border-radius: 70px;
  }
  #header-nav #menu-principal {
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    top: -100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    transition: ease 1s;
    transition-delay: 1;
  }
  #header #menu-hamburger-gatilho:checked ~ #header-nav #menu-principal {
    top: 50%;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
  }
  #header-nav {
    height: 100px;
    background-color: var(--cor-2);
    position: fixed;
    z-index: 999999;
  }
  #header-nav #menu-login {
    font-size: 1em;
  }
  #header-nav #menu-login li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header-nav #menu-login a {
    font-family: "rubik-bold";
    font-size: 1.125em;
    color: var(--cor-15);
    text-transform: uppercase;
    text-align: center;
    background: var(--cor-1);
    border-radius: 5px;
    padding: 15px 30px;
  }
  #grid-header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 50px;
    justify-items: center;
    align-items: center;
  }
  #grid-header * {
    text-align: center;
  }
  #grid-header #img-capa {
    display: none;
  }
}
#grid-header #textos div {
  width: max-content;
  margin: 30px auto 30px auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  body{
    background-color: var(--cor-10);
  }
  #header{
    width: 100%;
  }
  #header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: min-content;
    padding: 10px;
    background-color: var(--cor-2);
  }
  #header #triangulo-direito {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 380px;
  }
  #header-nav #logo{
    font-size: 2em;
  }
  #header-nav #menu-login{
    display: none;
  }
  #header-nav #menu-principal{
    display: flex;
    visibility: hidden;
    opacity: 1;
    flex-direction: column;
    top: -100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    transition: ease 1s;
    transition-delay: 1;
  }
  #grid-header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
    align-items: center;
  }
  #img-capa{
    display: none;
  }
  #textos h1{
    font-size: 2em;
    text-align: center;
  }

  #header #painel {
    display: block;
    margin-top: 50px;
    padding: 10px 5px;
    background-color: var(--cor-3);
  }
  #header #painel ul {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 10px;
  }
  #header #painel ul li {
    text-align: left;
    border-bottom: 2px solid var(--cor-6);
    padding: 6px 0px;
  }
  #header #painel ul li img {
    margin: 0 5px;
  }
}
