@import url(../utilitarios/reset.css);
@import url(../utilitarios/cores.css);
@import url(../utilitarios/tipografia.css);
@import url(../utilitarios/componentes.css);
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-2);
}

.grid-login{
  display: grid;
  align-items: center;
  position: relative;
  z-index: -1;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--cor-3);
  border-radius: 10px;
  width: 1200px;
  height: 720px;
  overflow: hidden;
}

.container-form{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}
.container-form h5{
  font-family: 'universal rubik';
  font-weight: 500;
  font-size: 3em;
  text-align: center;  
  color: var(--cor-primaria); 
}

.container-form h2{
  font-family: 'universal rubik';
  font-weight: 500;
  font-size: 1em;
  margin-top: 2em;
  max-width: 30ch;
  text-align: center;
  color: var(--cor-8);
}
.container-form::after{
  content: '';
  display: block;
  position: absolute;
  left: -40px;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--cor-3);
  transform: skew(6deg);
}
.container-horario{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--cor-15);
  font-family: 'universal rubik';
  font-weight: 400;
  font-size: 3em;
  background: center bottom / cover no-repeat url("../../imagens/boa-noite-login.gif");
}
.container-dados-horario{
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
}
.container-dados-horario #dia{
  font-size: 0.3em;
}

.canvas-input{
  border-radius: 2px;
  background-color: var(--cor-6);
  position: relative;
}
.canvas-input .container-label {
  position: absolute;
  display: block;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: .5s;
}
.container-label label {
  color: var(--cor-15);
  font-size: 0.875em;
  font-family: "universal rubik";
  font-weight: 400;
  line-height: 0;
}
.canvas-input input{
  z-index: 2;
  background-color: transparent;
}
.canvas-input input:placeholder-shown ~ .container-label{
  color: var(--cor-15);
  font-size: 0.875em;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.canvas-input input:focus ~ .container-label{
  color: var(--cor-10);
  font-size: 0.675em;
  top: 0px;
  transform: translateY(0);
  left: 5px;
  z-index: 3;
}
.canvas-input input:invalid ~ .container-label{
  color: var(--cor-10);
  font-size: 0.675em;
  top: 0px;
  transform: translateY(0);
  left: 12px;
}
.canvas-input input:not(:placeholder-shown) ~ .container-label{
  color: var(--cor-10);
  font-size: 0.675em;
  top: 0px;
  transform: translateY(0);
  left: 5px;
  z-index: 3;
}
form {
  padding: 0 0px;
  max-width: 300px;
  width: max-content;
  margin:1em auto 0 auto;
  display: grid;
  gap: 12px 12px;
  grid-template-areas:
    "nome sobrenome"
    "email email"
    "senha senha"
    "confirmacao confirmacao"
    "notificacoes notificacoes"
    "termos termos"
    "btn btn";
}
input {
  max-width: 350px;
  width: 100%;
  background-color: var(--cor-4);
  border: none;
  border-radius: 2px;
  padding: 12px 12px;
  position: relative;
  color: var(--cor-15);
  font-weight: 500;
  font-family: "universal rubik";
  outline: none;  
  border:1px solid transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  border: 1px solid transparent;
  -webkit-text-fill-color: var(--cor-15);
  -webkit-box-shadow: 0 0 0px 1000px var(--cor-4) inset;
  transition: background-color 6000s ease-in-out 6000s;
}
input:focus{
  border:1px solid var(--cor-15);
}
input:invalid{
  border-color: red;
}

#container-nome {
  grid-area: nome;
}
#container-sobrenome {
  grid-area: sobrenome;
}
#container-email {
  grid-area: email;
}
#container-senha {
  grid-area: senha;
}
#container-confirmacao {
  grid-area: confirmacao;
}
label[for="notificacoes"] {
  grid-area: notificacoes;
}
label[for="termos"] {
  grid-area: termos;
}
label[for="termos"], label[for="notificacoes"]{
  width: 100%;
  display: flex;
  gap: 5px;
  color: var(--cor-15);
  font-family: "universal rubik";
  font-weight: 400;
  font-size: 0.7em;
  position: relative;
}
span {
  color: red;
}
label input[type="checkbox"] {
  height: 12px;
  width: 12px;
}
#btn-cadastro {
  grid-area: btn;
  background-color: var(--cor-primaria);
  color: var(--cor-3);
  font-family: "universal rubik";
  font-size: 1.5em;
  font-weight: 700;
  padding: 6px;
  box-shadow: 0px 10px 40px rgba(255, 0, 46, 0.25);
}
#btn-cadastro:hover {
  background-color: var(--cor-primaria-escurecida);
}
.form-canvas a {
  color: var(--cor-15);
  font-family: "universal montserrat";
  font-size: 0.775em;
  margin: 0 auto;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 12px;
}
