#equipe {
  padding: 80px;
  background-color: var(--cor-3);
}
#equipe-flexbox {
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}
#equipe-flexbox > div {
  background-color: var(--cor-3);
  box-shadow: 7px 7px 20px #141414, -7px -7px 20px #2a2a2a;
  border-radius: 20px;
  flex-basis: 250px;
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  align-items: center;
}
#equipe-flexbox div > div::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  width: 20px;
  margin: 10px auto;
}
#equipe-flexbox div > div > img {
  max-height: 140px;
}
#equipe-flexbox div > div.vermelho::after {
  background-color: red;
}
#equipe-flexbox div > div.amarelo::after {
  background-color: yellow;
}
#equipe-flexbox div > div.verde::after {
  background-color: green;
}
#equipe-flexbox div > div.roxo::after {
  background-color: purple;
}

@media (min-width: 767px) and (max-width: 1024px) {
  #equipe {
    padding: 80px 20px;
  }
  #equipe-flexbox {
    display: grid;
    gap: 30px;
    padding: 30px 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    width: 100%;
  }
  #equipe-flexbox div {
    flex-shrink: 0;
    flex-basis: max-content;
    flex-grow: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  #equipe {
    padding: 60px 10px;
  }
  #equipe-flexbox {
    display: grid;
    gap: 30px;
    padding: 20px 0;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
    width: 100%;
    margin: 30px auto;
  }
  #equipe-flexbox div {
    flex-shrink: 0;
    flex-basis: max-content;
    flex-grow: 0;
  }
}
